html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #f2f2f2;
  margin-bottom: 10rem;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input {
  outline: none;
  border: none;
  background-color: #f2f2f2;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
}

.search-bar {
  position: fixed;
  padding: 1rem 2rem;
  background-color: white;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
}

.logo {
  width: 3rem;
  height: 1.5rem;
}
.container-list {
  padding-top: 5rem;
}

.product-list {
  padding: 0 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.product-item {
  background-color: white;
  padding: 0.5rem;
  border-radius: 1rem;
  width: calc(50% - 0.5rem);
  margin-top: 1rem;
  padding-top: 1rem;
}

.product-text {
  font-size: 14px;
  display: flex;
  align-items: center;
  padding: 0 0.5rem;
  line-height: 16px;
  height: 32px;
  overflow: hidden;
}
.product-text img {
  width: 38px;
  height: 15px;
}

.product-text p {
}

.clear-input {
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  right: 5px;
}

.input-content {
  position: relative;
}
.afflink {
  display: flex;
  justify-content: center;
  padding-bottom: 5px;
}
.imglink {
  border-radius: 1rem;
  width: 140px;
  height: 140px;
}

.invite-friends {
  padding-left: 1rem;
  padding-right: 1rem;
  font-style: italic;
}

.install-app {
  color: blue;
  font-weight: 500;
}
